/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 2 version
*/

/*
Colors used

Text Color (Light Gray): #ccc;
Primary Color (Green): #9c6;
Secondary Color (Purple): #669;
tertiary Color (Dark Green): #4d8070;
*/

body {
  background-color: #333;
  color: #ccc;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: undefined;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-family: 'Halant', serif;
  font-size: 30px;
  font-weight: undefined;
  text-align: center;
}

h2 {
  font-family: 'Halant', serif;
  font-size: 24px;
  font-weight: undefined;
}

h3 {
  font-family: 'Halant', serif;
  font-size: 18px;
  font-weight: undefined;
}

a {
  color: #9c6;
}

a:visited {
  color: #6cc;
}

a:hover,
a:focus { /* a:focus selected with keyboard */
  text-decoration: none; /* No underlining when hovering over a link */
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:active {
  color: #c96;
}

button {
  border: none; /* overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit; /* takes the font from the outer container */
  background-color: #9c6;
  color: #fff !important;
  text-decoration: none; /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  padding: 10px;
  border-radius: 3px; /* adds spacing to the button */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button {
  border: none; /* overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit; /* takes the font from the outer container */
  background-color: #9c6;
  color: #fff !important;
  text-decoration: none; /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  padding: 10px;
  border-radius: 3px; /* adds spacing to the button */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer; /* Lets the mouse appear as a hand when hovering over the button */
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
}

.button_secondary {
  background-color: #669;
  color: #fff !important;
}

.navigation-list__item--active {
  text-decoration: none;
  color: #9c6 !important;
  font-weight: 700;
}

input[type=submit] {
  border: none;
  font-family: inherit;
  background-color: #9c6;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

input[type=submit]:hover,
input[type=submit]:focus {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

table {
  padding: 20px;
  border-spacing: 10px;
  text-align: center;
  margin: 0 auto;
}

thead {
  font-family: 'Halant', serif;
  font-size: 16px;
  font-weight: undefined;
}

.profile__logo {
  width: 160px;
  height: 88px;
  margin: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%; /* Rounds each edge to 50% of original width/height */
}

.page-footer {
  clear: both; /* Clears all floats, both right and left */
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.about {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.work {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

* { /* 'Universal selector' applies syling to all HTML elements */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* Sets default width of elements to include the padding and border */
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px; /* flex-grow, flex-shrink, flex-basis */
}

.page-header__item:last-child { /* last-child targets the last child of the two flexbox child items, in this case navigation */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none; /* Removes bullet points */
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; /* Can center any inline and inline-block elements */
}

/* start grid fallback (older browser support) must go before grid */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr; /* fr = fraction */
    grid-gap: 20px;
    padding: 20px;
    text-align: center;
  }

  .grid__item {
    background-color: #4d8070;
    width: auto;
    min-height: auto;
    margin: auto;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item: last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  .profile__portrait {
    width: 150px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #473b76;
  }

  50% {
    fill: #366;
  }

  100% {
    fill: #23a06b;
  }
}

@keyframes color-change {
  0% {
    fill: #473b76;
  }

  50% {
    fill: #366;
  }

  100% {
    fill: #23a06b;
  }
}

.b {
  -webkit-animation: 7s color-change infinite alternate linear;
  animation: 7s color-change infinite alternate linear;
}

@-webkit-keyframes name-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(125px, 50px);
    transform: translate(125px, 50px);
  }
}

@keyframes name-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(125px, 50px);
    transform: translate(125px, 50px);
  }
}

.d {
  -webkit-animation: 20s name-move infinite alternate linear;
  animation: 20s name-move infinite alternate linear;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

input[type=text] {
  border-radius: 4px;
  background-color: #669;
  color: #ccc;
  padding: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  width: 100%;
  margin-bottom: 10px;
}

input[type=tel] {
  border-radius: 4px;
  background-color: #669;
  color: #ccc;
  padding: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  width: 100%;
  margin-bottom: 10px;
}

input[type=email] {
  border-radius: 4px;
  background-color: #669;
  color: #ccc;
  padding: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  border-radius: 4px;
  background-color: #669;
  color: #ccc;
  padding: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  width: 100%;
  margin-bottom: 10px;
}

label {
  padding: 12px 12px 12px 0;
  float: left;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}
