/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/*
Colors used

Text Color (Light Gray): #ccc;
Primary Color (Green): #9c6;
Secondary Color (Purple): #669;
tertiary Color (Dark Green): #4d8070;
*/

@import url("https://use.typekit.net/nxv8pvc.css");
@import url("https://use.typekit.net/nxv8pvc.css");

:root {
  --primary-color: #9c6;
  --secondary-color: #669;
  --tertiary-color: #4d8070;
  --dark-grey: #333;
  --text-color: #ccc;
  --button-text: #fff;
  --header-font: "clarendon-wide-sketch", sans-serif;
  --body-font: "freight-sans-pro", sans-serif;
  --standard-font: 400;
  --bold-font: 400;
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--dark-grey);
  background-size: cover;
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: var(standard-font);
  font-size: 16px;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

h1 {
  font-family: var(--header-font);
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  font-style: normal;
  -webkit-filter: drop-shadow(1px 2px 3px #160d08);
  filter: drop-shadow(1px 2px 3px #160d08);
}

h2 {
  font-family: var(--header-font);
  font-size: 24px;
  font-weight: 200;
  -webkit-filter: drop-shadow(1px 2px 3px #160d08);
  filter: drop-shadow(1px 2px 3px #160d08);
}

h3 {
  font-family: var(--header-font);
  font-size: 18px;
  font-weight: 200;
  -webkit-filter: drop-shadow(1px 2px 3px #160d08);
  filter: drop-shadow(1px 2px 3px #160d08);
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

a:hover,
a:focus {
  /* a:focus selected with keyboard */
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  color: #c96;
}

button,
.button {
  border: none; /* overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit; /* takes the font from the outer container */
  background-color: var(--primary-color);
  color: var(--button-text) !important;
  text-decoration: none; /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  text-shadow: 1px 1px 4px #160d08;
  padding: 10px;
  border-radius: 5px; /* adds spacing to the button */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3); /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer; /* Lets the mouse appear as a hand when hovering over the button */
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
}

.button_secondary {
  background-color: var(--secondary-color);
  color: var(--button-text) !important;
}

.navigation-list__item--active {
  text-decoration: underline overline !important;
  text-underline-offset: 0.4em;
  color: var(--primary-color) !important;
  font-weight: 700;
}

input[type="submit"] {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--button-text);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

table {
  padding: 20px;
  border-spacing: 10px;
  text-align: center;
  margin: 0 auto;
  width: 50vw;
}

thead {
  font-family: var(--header-font);
  font-size: 16px;
  font-weight: 200;
}

.background {
  background-color: var(--dark-grey);
  background-image: url("https://rare-gallery.com/uploads/posts/5404483-code-screen-programming-design-web-internet-html-coding-color-type-colour-language-source-code-www-website-webdesigner-unstock-software-engineer-software-script-png-images.jpg");
  background-blend-mode: soft-light;
  background-size: cover;
}

.profile__logo {
  width: 80px;
  height: 44px;
  margin: auto;
}

.profile__portrait {
  float: left;
  margin-right: 40px;
  border-radius: 50%; /* Rounds each edge to 50% of original width/height */
  outline: solid var(--text-color);
  -webkit-filter: drop-shadow(4px 0px 10px #160d08);
  filter: drop-shadow(4px 0px 10px #160d08);
}

.small-screens-pic {
  display: none;
}

.greeting {
  text-align: left;
  margin: 0;
}

.greeting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.greeting-message {
  font-size: smaller;
  margin: 0 5% 3% 0;
}

.screenshot {
  width: 95%;
  margin: 2% 0;
  -webkit-filter: drop-shadow(4px 4px 4px #160d08);
  filter: drop-shadow(4px 4px 4px #160d08);
}

.profile {
  background-color: var(--dark-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 35vh auto 35vh 25vw;
  border: solid;
  height: 250px;
  border-radius: 250px 0 0 250px;
  border-right: none;
  -webkit-filter: drop-shadow(2px 4px 10px #160d08);
  filter: drop-shadow(2px 4px 10px #160d08);
}

.animated-logo {
  width: 300px;
  height: 300px;
  margin-right: 3%;
}

.about {
  max-width: 700px;
  margin: 110px auto 0 auto;
  text-align: center;
}

.about-message {
  margin-bottom: 4%;
}

.work {
  max-width: 700px;
  margin: 110px auto 0 auto;
  text-align: center;
}

* {
  /* 'Universal selector' applies syling to all HTML elements */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* Sets default width of elements to include the padding and border */
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 2px solid;
  background: #232323;
  -webkit-filter: drop-shadow(2px 4px 10px #160d08);
  filter: drop-shadow(2px 4px 10px #160d08);
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  opacity: 0.98;
  position: fixed;
  z-index: 3;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px; /* flex-grow, flex-shrink, flex-basis */
}

.page-header__item:last-child {
  /* last-child targets the last child of the two flexbox child items, in this case navigation */
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none; /* Removes bullet points */
}

.navigation-list li {
  margin-top: 0.5vh;
  display: inline-block;
  margin-left: 1em;
  font-family: var(--header-font);
  font-size: large;
}

.navigation-list a {
  text-decoration: none;
}

.navigation-list a:hover {
  text-decoration: underline overline;
  text-underline-offset: 0.4em;
}

.page-footer {
  background: #232323;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center; /* Can center any inline and inline-block elements */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid;
  -webkit-filter: drop-shadow(-2px -4px 10px #160d08);
  filter: drop-shadow(-2px -4px 10px #160d08);
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  opacity: 0.98;
  z-index: 2;
}

.footer-text {
  margin: 0.5% 0 0 0;
}

.copyright {
  margin: 0 0 1% 0;
  font-size: 0.75em;
}

/* start grid fallback (older browser support) must go before grid */
.grid__item {
  display: inline-block;
  width: 33%;
  padding: 5%;
}

/* end grid fallback */

.project-title {
  margin-top: 0;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr; /* fr = fraction */
    grid-gap: 20px;
    padding: 20px;
    text-align: center;
    margin-bottom: 110px;
  }

  .grid__item {
    font-size: 0.9em;
    background-color: var(--secondary-color);
    width: auto;
    min-height: auto;
    border-radius: 5px;
    -webkit-filter: drop-shadow(5px 5px 5px #160d08);
    filter: drop-shadow(5px 5px 5px #160d08);
    background-image: url("https://images.unsplash.com/photo-1521459467264-802e2ef3141f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
    background-size: cover;
    background-blend-mode: multiply;
  }
}

@media all and (max-width: 350px) {
  .page-header {
    padding: 0px 20px;
  }
  .navigation-list {
    padding: 0;
    text-align: center;
  }
  .navigation-list li {
    font-size: 0.7em;
  }
  .profile__logo {
    display: none;
  }
  .profile {
    margin: 35vh auto 35vh auto;
    border-radius: 0;
    border-left: none;
  }
  .greeting-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .greeting-message {
    margin: 0;
    text-align: center;
    font-size: smaller;
    margin: 0 5%;
  }
  .profile__portrait {
    display: none;
  }
  .small-pic-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .small-screens-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 150px;
    margin: 14vh auto 0;
    z-index: 1;
    border-radius: 50%;
    outline: solid var(--text-color);
    -webkit-filter: drop-shadow(4px 0px 10px #160d08);
    filter: drop-shadow(4px 0px 10px #160d08);
  }
  .about-message {
    margin-bottom: 4%;
  }
  button,
  .button {
    scale: 0.85;
  }
  .animated-logo {
    width: 150px;
    height: 150px;
    margin: 0 4% 100px 0;
  }
  .ticker-container {
    margin: 4%;
  }
  .ticker-container div.slide {
    scale: 0.9;
  }

  .ticker-container .ticker-tape {
    width: auto !important;
  }
  .ticker-container .ticker-tape:before,
  .ticker-container .ticker-tape:after {
    width: 125px !important;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .project-title {
    font-size: medium;
  }
  .item-description,
  .link-container {
    font-size: small;
  }
  .page-header {
    padding: 0px 20px;
  }
  .about,
  .work,
  .contact {
    margin-top: 85px !important;
  }
  .navigation-list {
    padding: 0;
  }
  .navigation-list li {
    font-size: 0.7em;
  }
  form {
    margin-bottom: 15vh;
  }
  .contact-card {
    font-size: small;
  }
  .contact-form {
    width: 85%;
  }
  .profile {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 35vh auto 35vh auto !important;
    border-radius: 0;
    border-left: none;
  }
  .greeting-message {
    margin: 0;
    text-align: center;
    margin: 0 5%;
  }
  .greeting-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .profile__portrait {
    display: none;
  }
  .small-pic-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .small-screens-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 150px;
    margin: 14vh auto 0;
    z-index: 1;
    border-radius: 50%;
    outline: solid var(--text-color);
    -webkit-filter: drop-shadow(4px 0px 10px #160d08);
    filter: drop-shadow(4px 0px 10px #160d08);
  }
  .about-message {
    font-size: smaller;
  }
  button,
  .button {
    scale: 0.9;
  }
  .animated-logo {
    width: 200px;
    height: 200px;
    margin: 0 4% 100px 0;
  }
  .ticker-container {
    margin: 4%;
  }
  .ticker-container div.slide {
    scale: 0.9;
  }

  .ticker-container .ticker-tape {
    width: auto !important;
  }
  .ticker-container .ticker-tape:before,
  .ticker-container .ticker-tape:after {
    width: 150px !important;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .animated-logo {
    margin: 0 4% 100px 0;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
  .profile {
    margin-left: 10vw;
  }
}

@media all and (max-width: 800px) {
  .about-message {
    padding: 5%;
    margin: auto;
    text-align: center;
  }
}

@media all and (min-width: 1200px) {
  .profile {
    margin-left: 50vw;
  }
  .greeting-message {
    font-size: revert;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #473b76;
  }

  50% {
    fill: #366;
  }

  100% {
    fill: #23a06b;
  }
}

@keyframes color-change {
  0% {
    fill: #473b76;
  }

  50% {
    fill: #366;
  }

  100% {
    fill: #23a06b;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.cls-5 {
  -webkit-animation: 5s color-change infinite alternate linear;
  animation: 5s color-change infinite alternate linear;
  -webkit-filter: drop-shadow(-2px 2px 4px #160d08);
  filter: drop-shadow(-2px 2px 4px #160d08);
}

#msdi {
  -webkit-animation: 30s rotate infinite linear;
  animation: 30s rotate infinite linear;
  -webkit-transform-origin: 46% 48%;
  transform-origin: 46% 48%;
  -webkit-filter: drop-shadow(1px 1px 3px #160d08);
  filter: drop-shadow(1px 1px 3px #160d08);
}

.cls-1 {
  -webkit-filter: drop-shadow(2px 2px 2px #160d08);
  filter: drop-shadow(2px 2px 2px #160d08);
}

.cls-3 {
  -webkit-filter: drop-shadow(2px 2px 5px #160d08);
  filter: drop-shadow(2px 2px 5px #160d08);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 450px;
  margin: 110px auto 0 auto;
  text-align: center;
}

.contact-card {
  background-color: #232323;
  width: 85%;
  padding: 3%;
  margin: 5%;
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 3px 8px #160d08);
  filter: drop-shadow(3px 3px 8px #160d08);
}

.contact-form {
  background-color: #232323;
  padding: 3% 7% 5% 7%;
  margin: 5%;
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 3px 8px #160d08);
  filter: drop-shadow(3px 3px 8px #160d08);
}

th {
  font-weight: 200;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 5px;
  border: 1px solid var(--text-color);
  resize: vertical;
  width: 100%;
  margin-bottom: 10px;
}

label {
  padding: 12px 12px 2px 0;
  float: left;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
}

.technologies {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  background: var(--dark-grey);
  width: 95%;
  margin: 2% auto;
  padding: 3%;
  -webkit-filter: drop-shadow(4px 4px 4px #160d08);
  filter: drop-shadow(4px 4px 4px #160d08);
}

.technologies path {
  fill: var(--text-color);
}

.technologies path:hover {
  fill: var(--primary-color);
}

.social-media path {
  fill: var(--text-color);
}

.social-media path:hover {
  fill: var(--primary-color);
  opacity: 1;
}

.item-description {
  -webkit-filter: drop-shadow(1px 1px 2px #160d08);
  filter: drop-shadow(1px 1px 2px #160d08);
}

.link-container {
  background: var(--dark-grey);
  width: 95%;
  margin: auto;
  margin: 2% auto 0 auto;
  padding: 2%;
  -webkit-filter: drop-shadow(4px 4px 4px #160d08);
  filter: drop-shadow(4px 4px 4px #160d08);
}

.contact-type {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: larger;
  margin-bottom: 0.5em;
}

.contact-type a {
  text-decoration: none;
}

.contact-type path {
  fill: var(--text-color);
}

.contact-type-container {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: left;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slide {
  -webkit-filter: drop-shadow(2px 2px 6px #160d08);
  filter: drop-shadow(2px 2px 6px #160d08);
}

.ticker-container .ticker-tape {
  padding: 5%;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ticker-container .ticker-tape:before,
.ticker-container .ticker-tape:after {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--dark-grey)),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(
    to right,
    var(--dark-grey) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.ticker-container .ticker-tape:after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.ticker-container .ticker-tape:before {
  left: 0;
  top: 0;
}

.ticker-container .slide-track {
  -webkit-animation: scroll 60s linear infinite;
  animation: scroll 60s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
}

.ticker-container div.slide {
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3600px);
    transform: translateX(-3600px);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3600px);
    transform: translateX(-3600px);
  }
}
